*.pyc
src/__pycache__/*
*.png
*.b

PRML.egg-info
tests/__pychache__/*
build/*
docs/*.pdf
dist/*
.cache/*
.eggs/*
.vscode/
output/*.png
output/*.jpg

*.aux
*.log
*.lof
*.out
*.toc
*.gz
*.fdb*
*.fls
output/*
Images/2002 
Images/2003 
Images/FDDB-folds 
Images/Nous 
Images/WIDER/*
