*.pyc
src/__pycache__/*

*.b

PRML.egg-info
tests/__pychache__/*
build/*
docs/*.pdf
dist/*
.cache/*
.eggs/*
.vscode/

**/*.aux
**/*.log
**/*.lof
**/*.out
**/*.toc
**/*.gz
**/*.fdb*
**/*.fls
output/*
Images/**/*.png
Images/**/*.jpg
